{% extends 'article/base.html' %}

{% block content %}
<div class="date">
        {% if post.published_date %}
            {{ post.published_date }}
        {% else %}
            <a class="btn btn-default" href="{% url 'article.views.article_publish' pk=post.pk %}">Publish</a>
        {% endif %}
</div>
{% if user.is_authenticated  %}
    <a class="btn btn-default" href="{% url 'article_remove' pk=post.pk %}">
    <span class="glyphicon glyphicon-remove">delete</span></a>
    <a class="btn btn-default" href="{% url 'article_edit' pk=post.pk %}">
    <span class="glyphicon glyphicon-pencil">edit</span></a>
{% endif %}
<h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaks }}</p>
{% endblock %}